* {
  box-sizing: border-box;
}

.toolbar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.toolbar-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}