.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  max-width: 200px;
  height: 55vh;
  margin: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}

.movie-card:hover{
  transform: scale(1.05);
}

.poster {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}
.card-details {
  background-color: #1e1e1e;
  color: #f1f1f1;
  flex: 1;
}

.card-details h2 {
  font-size: 20px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.card-icons {
  display: flex;
  justify-content: space-around;
}

.icon {
  cursor: pointer;
}
