.header-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #023d2d;
    margin: 20px;
    font-size: 20px;
}

.menu {
    color: #023d2d;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

    