.header-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background: #023d2d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    color: white;
    margin: 20px;
    font-size: 20px;
}